<div class="banner">
    <div class="container">
        <h1 class="mb-4">Czas na dobre jedzenie</h1>
        <br>
        <a href="menu">Zobacz menu <i class="bi bi-arrow-right-circle-fill"></i></a>
    </div>
</div>

<div class="delivery mt-5 mb-5">
    <h1>Domowa impreza czy romantyczna kolacja? Mamy propozycje na każdą okazję!</h1>
    <div class="row mt-3">
        <div class="col-lg-4 mt-2">
            <div class="step">
                <h1>1</h1>
                <p>Wybierz danie</p>
            </div>
        </div>

        <div class="col-lg-4 mt-2">
            <div class="step">
                <h1>2</h1>
                <p>Wpisz adres i szczegóły zamówienia</p>
            </div>
        </div>

        <div class="col-lg-4 mt-2">
            <div class="step">
                <h1>3</h1>
                <p>Dostarczymy Twoje zamówienie jak najszybciej!</p>
            </div>
        </div>
    </div>
</div>

<div class="info">
    <h3>Nasza lokalizacja:</h3>
    <h5>ul.Witolda Budryka 6, 30-072</h5>
    <h5>Tel.: +48 420 420 420</h5>
</div>
<a href="https://www.google.pl/maps/place/Witolda+Budryka+6,+30-072+Krak%C3%B3w/@50.0677821,19.9082972,14.92z/data=!4m5!3m4!1s0x47165bbb05d35153:0xdcdb3df1c844ebd5!8m2!3d50.0688203!4d19.9076944" target="_blank">
<img src="../../../assets/img/localization.png" class="localization">
</a>
