div {
    margin:10px;
}

button {
    background-color: lightblue;
    color: darkcyan;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}